.reports {
    padding: 0 40px 76px;
}

.title {
    color: #3AA6A1;
    font: 700 32px/1 var(--font);
    padding: 0 0 21px 13px;
    border-bottom: 1px solid #3AA6A1;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0 30px;
}

.search {
    width: 163px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px 11px 5px 24px;
    border: 1px solid #A6A6A6;
    border-radius: 25em;
}

.input {
    width: 100%;
}

.svg {
    width: 33px;
    height: 33px;
}

.download {
    background: #ECAE36;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 48px;
    min-width: 48px;
    width: 48px;
    flex-shrink: 0;
}

.downloadSvg {
    width: 33px;
    height: 33px;
}

.activities {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 44px;
    justify-content: center;
    direction: ltr;
}

.pagination li a {
    font: 500 24px/1 var(--font);
    color: #B9B9B9;
}

.pagination li.active a {
    color: #3AA6A1;
}

@supports (padding-inline-start: 0) {
    .reports {
        padding-inline: 40px;
        padding-block: 0 76px;
    }

    .title {
        padding-inline-start: 13px;
        padding-inline-end: 0;
        padding-block: 0 21px;
    }

    .head {
        padding-block: 38px 30px;
    }

    .search {
        padding-inline-start: 24px;
        padding-inline-end: 11px;
        padding-block: 5px;
    }
}

@media (max-width: 991px) {
    .reports {
        padding-inline: 20px;
        padding-block: 0 20px;
    }

    .head {
        padding-block: 20px;
    }
}

@media (max-width: 921px) {
    .head {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .search {
        width: 100%;
    }

    .activities {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .activities {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
    }

    .pagination li a {
        font-size: 18px;
    }
}