.button {
  padding-block: 15px;
  padding-inline: 19px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 11em;
}

.grey {
  border-color: #B9B9B9;
}

.blue {
  border-color: #3AA6A1;
}

.fullBlue {
  background: #3AA6A1;
  border-color: #3AA6A1;
  color: #fff;
}

@media (max-width: 1385px) {
  .button {
    padding-block: 10px;
    padding-inline: 14px;
  }
}

@media (max-width: 991px) {
  .button {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 921px) {
  .button {
    padding-block: 10px;
    padding-inline: 10px;
  }
}