.chart {
    background: #fff;
    box-shadow: 0px 0px 15px 0px #DBDBDB;
    border-radius: 20px;
    padding: 30px 30px 40px 40px;
    position: relative;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 19px;
    border-bottom: 1px solid #C8C8C8;
}

.data .head {
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
}

/* .data .download {
    position: absolute;
    top: 15px;
    right: 15px;
} */

.title {
    font: 700 24px/1 var(--font);
    margin-bottom: 7px;
}

.selects {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.activities {
    display: flex;
    align-items: center;
    gap: 19px;
    flex-wrap: nowrap;
}

.download {
    background: #ECAE36;
    width: 46px;
    height: 46px;
    min-width: 46px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.svg {
    height: 33px;
    width: 33px;
}

.mainChart>div>div:first-child, .mainChart svg {
    width: 100% !important;
}

@media (max-width: 991px) {
    .chart {
        padding: 15px;
    }
}

@media (max-width: 921px) {
    .head {
        /* flex-direction: column; */
        /* align-items: center; */
        gap: 10px;
    }

    .activities {
        width: 100%;
    }

    .selects {
        flex-direction: column;

    }

    /* .download { */

}

@media (max-width: 576px) {
    .title {
        font-size: 18px;
    }
}