.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menuBtn {
  padding: 19.3px 7px;
}

.active .menuBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuBtnText {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  display: none;
}

.active .menuBtnText {
  display: inline-block;
}

.linkContainer {
  width: 100%;
}

.linkContainer:hover {
  background-color: #41BCB6;
}

.linkContainer:nth-child(2), .linkContainer:last-child {
  border-top: 1px solid #fff;
}

.active .linkContainer {
  border-top: 1px solid #fff;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 16px 4px;
}

/* .menuItem:hover {
  background-color: #41BCB6;
} */

.menuInMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 4px;
  justify-content: center;
}

.menuInMenu .menuItem {
  padding: 0;
}

.arrow {
  display: none;
  width: 35px;
  height: 35px;
}

.active .arrow {
  display: inline-block;
}

.active .menuItem {
  flex-direction: row;
  padding: 16px 40px 16px 23px;
  gap: 15px;
}

.active .menuInMenu .menuItem {
  padding: 0;
}

.active .menuInMenu {
  padding: 16px 40px 16px 23px;
  justify-content: space-between;
}

.svg {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.linkText {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.active .linkText {
  font-weight: 600;
  font-size: 20px;
}

@supports (padding-inline-start: 0) {
  .menuBtn {
    padding-block: 19.3px;
  }

  .menuItem {
    padding-inline: 4px;
    padding-block: 16px;
  }

  .menuInMenu {
    padding-inline: 4px;
    padding-block: 16px;
  }

  .active .menuItem {
    padding-inline-start: 23px;
    padding-inline-end: 40px;
    padding-block: 16px;
  }

  .active .menuInMenu {
    padding-inline-start: 23px;
    padding-inline-end: 40px;
    padding-block: 16px;
  }
}

@media (max-width: 576px) {
  .linkText {
    display: none;
  }

  .svg {
    width: 28px;
    height: 28px;
  }

  .menuBtnText {
    font-size: 18px;
  }

  .active .linkText {
    display: inline-block;
    font-size: 14px;
  }
}