.react-datepicker {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #3AA6A1;
    direction: rtl;
}

.react-datepicker__header {
    background: #fff;
}

/* .react-datepicker__navigation--next {
    left: 2px;
} */