.dateInput {
    border: 1px solid var(--blue);
    width: max-content;
    padding: 15px 19px;
    display: flex;
    border-radius: 25em;
    justify-content: center;
    direction: ltr;
}

.dateInput input, .dateInput input::placeholder {
    color: #000;
    font: 400 17px/1 var(--font);
    cursor: pointer;
}

.dateInput input {
    /* max-width: 145px; */
    display: flex;
    text-align: center;
    background: transparent;
}


@supports (padding-inline-start: 0) {
    .dateInput {
        padding-inline: 19px;
        padding-block: 15px;
    }
}

@media (max-width: 1385px) {
    .dateInput {
        padding-inline: 14px;
        padding-block: 10px;
    }
}

@media (max-width: 991px) {
    .dateInput {
        width: 100%;
    }
}