.button {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;

}

.next {
  bottom: 0;
  transform: translate(-50%, 0);
}

.prev {
  transform: translate(-50%, 0) rotate(180deg);
  top: none;
  top: 0;
}