.charts {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 30px;
    padding: 47px;
    margin-bottom: 53px;
}

@supports (padding-inline-start: 0) {
    .charts {
        padding-inline: 47px;
        padding-block: 47px;
    }
}

@media (max-width: 1480px) {
    .charts {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-width: 991px) {
    .charts {
        padding-inline: 20px;
        padding-block: 20px;
    }
}