.select {
    position: relative;
    width: 100%;
}

.button {
    display: inline-block;
    background: #fff;
    border: 1px solid #7C7C7C;
    padding: 14px 14px 11px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 25em;

}

.round {
    border-radius: 25em;
}

.small {
    padding: 5px 9px 5px 15px;
}

.buttonName {
    color: #7C7C7C;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
}

.small .buttonName {
    font-size: 16px;
}

.arrow {
    width: 37px;
    height: 35px;
}

.head {
    font-size: 16px;
    padding: 11px 14px;
}

.window {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100% + 3px);
    inset-inline-start: 0;
    border: 1px solid #3AA6A1;
    border-radius: 20px;
    background: #fff;
    z-index: 1;
}

.active .window {
    display: inline-block;
}

.customInput {
    margin: 13px 17px;
    border: 1px solid #7C7C7C;
    border-radius: 25em;
    display: flex;
    align-items: center;
    padding: 4px 14px 3px 28px;
    justify-content: space-between;
}

.input {
    background: transparent;
    font-size: 16px;
    color: #7C7C7C;
    width: 100%;
}

.search {
    width: 30px;
    height: 30px;
}

.checkboxContainer {
    max-height: 240px;
    overflow: auto;
    scrollbar-width: thin;
    border-top: 1px solid #7C7C7C;
    padding: 8px 0 8px 17px;
    display: flex;
    gap: 0px;
    flex-direction: column;
}

.submitContainer {
    padding: 6px 10px;
    display: flex;
    justify-content: end;
    border-top: 1px solid #7C7C7C;
}

.submit {
    border: 1px solid var(--blue);
    border-radius: 25em;
    padding: 5px 7px;
}

.submitText {
    font: 500 16px/1 var(--font);
}

@supports (padding-inline-start: 0) {
    .button {
        padding-inline-start: 24px;
        padding-inline-end: 14px;
        padding-block: 14px 11px;
    }

    .small {
        padding-inline-start: 15px;
        padding-inline-end: 9px;
        padding-block: 5px;
    }

    .head {
        padding-inline: 14px;
        padding-block: 11px;
    }

    .customInput {
        margin-inline: 17px;
        margin-block: 13px;
        padding-inline-start: 28px;
        padding-inline-end: 14px;
        padding-block: 4px 3px;
    }

    .checkboxContainer {
        padding-inline-start: 17px;
        padding-inline-end: 0;
        padding-block: 8px;
    }

    .submitContainer {
        padding-inline: 10px;
        padding-block: 6px;
        justify-content: flex-end;
    }
}

@media (max-width: 1750px) {
    .customInput {
        padding-inline-start: 14px;
        padding-inline-end: 4px;
        padding-block: 4px;
        margin-inline: 13px;
        margin-block: 9px;
    }

    .button {
        padding-inline: 10px;
        padding-block: 7px;
    }
}

@media (max-width: 1640px) {
    .buttonName {
        font-size: 16px;
    }

    .arrow {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 1460px) {
    .input {
        font-size: 12px;
    }

    .search {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 991px) {
    .button {
        border-radius: 25em;
    }
}

@media (max-width: 576px) {
    .button {
        overflow: hidden;
        width: 100%;
    }

    .buttonName {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}