.container {
  display: grid;
  grid-template-columns: auto minmax(0, 100vw);
  grid-template-rows: auto 1fr auto
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  z-index: 1;
}

.aside {
  position: sticky;
  top: 0;
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100vh;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
  grid-column: 2/3;
  grid-row: 3/4;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 120px minmax(0, 100vw);
  }

  .aside {
    position: fixed;
    z-index: 1;
  }
}

@media (max-width: 576px) {
  .container {
    grid-template-columns: 50px minmax(0, 100vw);
  }
}