.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #D6EDEC;
    padding: 11px 73px 13px 62px;
    position: relative;
}

.cross {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 13px;
    inset-inline-end: 12px;
    display: none;
}

.active .cross {
    display: inline-block;
}


@media (max-width: 1385px) {
    .menu {
        gap: 20px;
        padding-inline-start: 20px;
        padding-inline-end: 50px;
        padding-block: 10px;
    }

    .cross {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 991px) {
    .menu {
        gap: 20px;
        padding-inline: 20px;
        padding-block: 10px;
    }
}

@media (max-width: 576px) {
    .cross {
        width: 24px;
        height: 24px;
    }
}