.top {
    display: grid;
    grid-template-columns: 170px minmax(0, 1fr) 527px;
    gap: 10px;
    align-items: center;
    position: relative;
}

.title {
    font: 700 36px/1 var(--font);
}

.filters {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 7px;
    max-width: 948px;
}

.filter {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: thin;
}

.filterText {
    font-size: 12px;
    line-height: 1;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.buttonText {
    font: 400 17px/1 var(--font);
}

.svg {
    width: 17px;
    height: 17px;
}

@media (max-width: 1385px) {
    .top {
        grid-template-columns: auto minmax(0, 1fr) 480px;
    }

    .buttons {
        gap: 10px;
    }

    .title {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .top {
        grid-template-columns: auto auto;
    }

    .filters {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .buttons {
        max-width: 520px;
        justify-content: end;
        justify-self: end;
    }
}

@media (max-width: 991px) {
    .top {
        grid-template-columns: 1fr;
    }

    .filters {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .buttons {
        max-width: none;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 18px;
    }

    .filterText {
        font-size: 10px;
    }

    .buttonText {
        font-size: 14px;
    }
}