.aside {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  width: 120px;
  transition: width .1s ease;
}

.aside.active {
  width: 405px;
}

.messages {
  display: none;
}

.active .messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 576px) {
  .aside {
    width: max-content;
  }

  .aside.active {
    width: 240px;
  }
}