.label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px 0;
}

.label:hover {
    background-color: #f3f3f3;
}

.checkbox {
    display: none;
}

.checkboxText {
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-inline-start: 30px;
    /* padding-left: 25px; */

}

.checkboxText::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #7C7C7C;
    inset-inline-start: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: white;
}

.checkboxText::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(0, -50%) scale(0);
    width: 5px;
    height: 10px;
    border-inline-start: 2px solid #000;
    border-bottom: 2px solid #000;
    transform-origin: center;
    transition: transform 0.2s ease;
    inset-inline-start: 3px;
    top: 50%;
}

.checkbox:checked+.checkboxText::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
