.ham1 {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.ham1 path {
  fill: none;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1.active {
  transform: rotate(45deg);
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}