
.footer {
  background: var(--blue);
  padding: 11px 78px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.footer::before {
  content: "";
}

.text {
  color: #fff;
  font: 600 20px/1 var(--font);
  text-align: center;
}

.img {
  max-width: 181px;
  justify-self: end;
}

@supports (padding-inline-start: 0) {
  .footer {
    padding-inline: 78px;
    padding-block: 11px;
  }
}

@media (max-width: 921px) {
  .footer {
    display: flex;
    justify-content: center;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .footer::before {
    display: none;
  }

  .img {
    display: none;
  }
}