.footer {
  background: var(--blue);
  padding: 11px 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer::before {
  content: "";
}

.text {
  color: #fff;
  font: 600 20px/1 var(--font);
}

.img {
  max-width: 181px;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
    padding: 20px;
  }

  .footer::before {
    display: none;
  }

  .img {
    display: none;
  }
}