:root {
  --container: 0 77px 0 47px;
  --font: "Rubik", sans-serif;
  --blue: #3AA6A1;
}

body * {
  font: 400 16px/1 var(--font);
}

body {
  direction: rtl;
  overflow-x: hidden;
}

button {
  min-width: 100px;
  justify-content: center;
  transition: .5s;
}

/* button:hover {
  transform: translateX(-3px);
} */